<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>engine_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>engine_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91F5F3871BC6F8F70030DA6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F5F39D1BC6FA1B0030DA6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F5F3B81BC6FCF30030DA6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91FEFC581C3896A400AC2531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91FEFC651C38970300AC2531</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
